<a href="https://colab.research.google.com/github/thariqziyad/PythonCourse2023/blob/main/Test_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A Notebook in which I try to apply what I've learned in the online Data Science course from [PKS Digital School](https://pksdigitalschool.id/).

In [2]:
#Import necessary libraries
import pandas as pd

In [14]:
df = pd.read_csv('Data Market.csv')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116
0,NaN,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dividen per Share,NaN,...,EBITDA/shares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ticker
2,14:59:02,Ticker,Last Update,Index,Last Price,Shares Out,Market Cap,TP Consensus,2016,2017,...,2016,2017,2018,2019,2020,2021,2022,2023E,2024E,EPS
3,AALI IJ Equity,AALI,4/10/2023,IDXNCYC,8300,"1,925","15,974,913,163,900","9,166.88",469.00,470.00,...,"1,947.46","2,202.93","1,863.20","1,176.30","1,651.73","2,448.25","1,899.99",#N/A Mandatory parameter [FIELD] cannot be em...,#N/A Mandatory parameter [FIELD] cannot be em...,9.25
4,ABBA IJ Equity,ABBA,4/10/2023,IDXCYC,105,"3,936","413,268,749,985",-,-,-,...,(1.35),1.32,(8.23),(6.33),(11.78),(6.09),#N/A N/A,#N/A Mandatory parameter [FIELD] cannot be em...,#N/A Mandatory parameter [FIELD] cannot be em...,#N/A N/A

We see that the headers do not make sense. We drop the first row and drop the first column as it is redundant with the second column.

In [56]:
df = pd.read_csv('Data Market.csv')
df = df.drop(0)
df.reset_index(inplace=True)
df = df.drop(columns=['index','Unnamed: 0'])

df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dividen per Share,NaN,NaN,...,EBITDA/shares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ticker
1,Ticker,Last Update,Index,Last Price,Shares Out,Market Cap,TP Consensus,2016,2017,2018,...,2016,2017,2018,2019,2020,2021,2022,2023E,2024E,EPS
2,AALI,4/10/2023,IDXNCYC,8300,"1,925","15,974,913,163,900","9,166.88",469.00,470.00,336.00,...,"1,947.46","2,202.93","1,863.20","1,176.30","1,651.73","2,448.25","1,899.99",#N/A Mandatory parameter [FIELD] cannot be em...,#N/A Mandatory parameter [FIELD] cannot be em...,9.25
3,ABBA,4/10/2023,IDXCYC,105,"3,936","413,268,749,985",-,-,-,-,...,(1.35),1.32,(8.23),(6.33),(11.78),(6.09),#N/A N/A,#N/A Mandatory parameter [FIELD] cannot be em...,#N/A Mandatory parameter [FIELD] cannot be em...,#N/A N/A
4,ABDA,3/15/2023,IDXFIN,6475,621,"4,019,723,253,000",-,90.00,90.00,90.00,...,#N/A N/A,#N/A N/A,#N/A N/A,#N/A N/A,#N/A N/A,#N/A N/A,#N/A N/A,#N/A Mandatory parameter [FIELD] cannot be em...,#N/A Mandatory parameter [FIELD] cannot be em...,32.87

We also move the first 7 headers up by one row by renaming the headers.

In [59]:
new_names = []
old_names = []
for i in range(7):
  new_names.append(df.iloc[1,i])
  old_names.append(df.columns[i])
  df.iloc[1,i] = "NaN"
df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

df.head()

,Ticker,Last Update,Index,Last Price,Shares Out,Market Cap,TP Consensus,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dividen per Share,NaN,NaN,...,EBITDA/shares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ticker
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,2017,2018,...,2016,2017,2018,2019,2020,2021,2022,2023E,2024E,EPS
2,AALI,4/10/2023,IDXNCYC,8300,"1,925","15,974,913,163,900","9,166.88",469.00,470.00,336.00,...,"1,947.46","2,202.93","1,863.20","1,176.30","1,651.73","2,448.25","1,899.99",#N/A Mandatory parameter [FIELD] cannot be em...,#N/A Mandatory parameter [FIELD] cannot be em...,9.25
3,ABBA,4/10/2023,IDXCYC,105,"3,936","413,268,749,985",-,-,-,-,...,(1.35),1.32,(8.23),(6.33),(11.78),(6.09),#N/A N/A,#N/A Mandatory parameter [FIELD] cannot be em...,#N/A Mandatory parameter [FIELD] cannot be em...,#N/A N/A
4,ABDA,3/15/2023,IDXFIN,6475,621,"4,019,723,253,000",-,90.00,90.00,90.00,...,#N/A N/A,#N/A N/A,#N/A N/A,#N/A N/A,#N/A N/A,#N/A N/A,#N/A N/A,#N/A Mandatory parameter [FIELD] cannot be em...,#N/A Mandatory parameter [FIELD] cannot be em...,32.87