1. Lakukan 4 operasi aritmatika pada 2 variabel di bawah (tambah, kurang, kali, bagi), lalu simpan semua hasilnya didalam list dan tampilkan.

var_1 = 10

var_2 = 2

In [1]:
#kerjakan soal no 1 pada sel ini
#keluaran yang diharapkan : [12,8,20,5]
a = 10
b = 2

mylist=[a+b, a-b, a*b, a//b]
print(mylist)

[12, 8, 20, 5]

2. Dengan menggunakan index keluarkan nilai dari dua tuple di bawah

a. ('Budi', 'Rani', 'Indah', 'Ilham')

b. (20, 18, 22, 27)

dari tuple a keluarkan Rani, dan dari tuple B keluarkan 22. lalu tampilkan dengan print() sesuai format yang diharapkan

In [2]:
#kerjakan soal no 2 pada sel ini
#keluaran yang diharapkan: "Rani adalah mahasiswi yang berusia 22 tahun"
name_list = ('Budi', 'Rani', 'Indah', 'Ilham')
age_list = (20, 18, 22, 27)

nama = name_list[1]
umur = age_list[2]

print(f'{nama} adalah mahasiswi yang berusia {umur}')

Rani adalah mahasiswi yang berusia 22

3. Cari kota asal dari user dengan data di bawah. Cari nilai uniknya/jangan sampai ada pengulangan.

data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}


Hint - Gunakan Set

In [3]:
#kerjakan soal no 3 pada sel ini
#keluaran yang diharapkan: {'bandung','jakarta','semarang','surabaya'}
#urutan keluaran tidak penting

data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}
kota = set()

for key, values in data_dict.items():
    kota.add(values)

print(kota)

{'jakarta', 'surabaya', 'bandung', 'semarang'}

4. Gunakan metode slicing untuk mendapatkan hasil yang diharapkan

a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
...

In [4]:
#kerjakan soal no 4 pada sel ini
#keluaran yang diharapkan: 
#[ '13b', 'aa1', 1.32, 22.1 ]
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]

print(a[1:-1])

['13b', 'aa1', 1.32, 22.1]

5. Gabungkan kedua list di bawah ini

a = [1, 3, 5]

b = [5, 1, 3]

In [5]:
#kerjakan soal no 5 pada sel ini
#keluaran yang diharapkan: 
#[5, 1, 3, 1, 3, 5]

a = [1, 3, 5]
b = [5, 1, 3]


print(b+a)

[5, 1, 3, 1, 3, 5]

6. Hilangkan elemen yang bernilai "bathroom" dan 10.50 lalu print kembali list areas

areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

...

In [6]:
#kerjakan soal no 6 pada sel ini
#keluaran yang diharapkan: 
#['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, "bedroom", 10.75, "bathroom", 10.50, "poolhouse", 24.5, "garage", 15.45]

areas.remove('bathroom')
areas.remove(10.5)

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]

7.

***europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }***


update nilai ibukota german ke berlin

.........

remove australia dari europa

........

print(europe)

In [7]:
#kerjakan soal no 7 pada sel ini
#keluaran yang diharapkan: 
#{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }

europe['germany']='berlin'
europe.pop('australia')

print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

8.
Cari semua nilai yang sama dari kedua list berikut ini. Print dalam bentuk list


a = [1,4,24,53,67,45,23,4,7,8,2,9,6,10,19,20,23,13,19]

b = [1,3,5,7,9,11,13,15,17,19,21,23]

In [8]:
#kerjakan soal no 8 pada sel ini
#keluaran yang diharapkan: 
#[1, 7, 9, 13, 19, 23]

a = [1,4,24,53,67,45,23,4,7,8,2,9,6,10,19,20,23,13,19]
b = [1,3,5,7,9,11,13,15,17,19,21,23]

set_a = set(a)
set_b = set(b)

list_ab = list(set_a & set_b)

print(list_ab)

[1, 7, 9, 13, 19, 23]