<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [53]:
# Membuat dataframes dari dictionary
import pandas as pd

a = {"negara":["Malaysia","Australia","Indonesia","Philippines","New Zealand","Singapore"],
     "abbr":["MY","AU","ID","PH","NZ","SG"],"kode":[i for i in range(60,66)]}

b = pd.DataFrame(a)
print(type(b))
b

<class 'pandas.core.frame.DataFrame'>

        negara abbr  kode
0     Malaysia   MY    60
1    Australia   AU    61
2    Indonesia   ID    62
3  Philippines   PH    63
4  New Zealand   NZ    64
5    Singapore   SG    65

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [54]:
# Membaca data dan memasukannya kedalam suatu variabel
d = pd.read_csv("data_src\diamonds-1.csv")

d

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab: 
- *Series* adalah campuran dari *List* dan *Dictionary*. Dimana seperti *List*, *Series* memiliki sifat *mutable* yang memungkinkan kita untuk mengakses dan memodifikasi elemen elemen dalam sebuah *Series*. Selain itu, *Series* memiliki index yang berfungsi seperti *keys* di *Dictionary*. Bedanya adalah dimana untuk *Dictionary* kita harus mendefinisikan setiap *keys* untuk semua elemen, untuk *Series* sudah ada nilai *index* yang default, sehingga kita tidak harus mendefinisikan setiap index.
- *Series* hanya memiliki satu dimensi, seperti tabel dengan satu kolom. Sedangkan *Dataframe* memiliki dua dimensi sehingga bisa diisi dengan lebih dari satu kolom.

In [55]:
# code here

e = pd.Series(i for i in range(1,100) if i%7==0)
e

0      7
1     14
2     21
3     28
4     35
5     42
6     49
7     56
8     63
9     70
10    77
11    84
12    91
13    98
dtype: int64

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [73]:
d.head(1)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43

In [74]:
d.tail(1)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [75]:
# code here

g = d["price"][0]
print(f'nilai baris pertama dari column price adalah {g}')

i = len(d)
j = d["color"][i-1]
print(f'nilai baris terakhir dari column color adalah {j}')

nilai baris pertama dari column price adalah 326
nilai baris terakhir dari column color adalah D

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab: 

>Deskriptis statistik adalah sebuah metode statistik dimana kita menghasilkan rangkuman dari seluruh data agar bisa menarik kesimpulan yang berguna

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [76]:
# code here
k = d.describe()
k

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

Jawab:

In [77]:
l = k["price"]["mean"]
print(f'Nilai rataÂ² dari column price adalah {l}')

m = k["depth"]["std"]
print(f'Nilai standar deviasi dari column depth adalah {m}')

n = k["carat"]["max"]
print(f"Nilai maximum dari column carat adalah {n}")

Nilai rataÂ² dari column price adalah 3932.799721913237
Nilai standar deviasi dari column depth adalah 1.432621318833661
Nilai maximum dari column carat adalah 5.01